*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif
    /* border: 1px solid red */
}
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    height: 100vh;
    width: 100vw;
}
header{
    height: 3.5rem;
    width: 100%;
   
    background-color:#2874F0;
    display: flex;
    flex-direction: row;
    
}
.navbar_left{    
width: 55%;
height: 100%;
display: flex;
justify-content: end;
align-items: center;
gap: 1.875rem;
}
.navbar_logo{
    height: 100%;
    width: 4.6875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
   
}
.navbar_search{
    width: 564px;
    height: 100%;
    display: flex;
    align-items: center;
    position: relative;
    
}
.navbar_search input{
    height:2.5rem;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 0.125rem;
    padding: 0.9375rem;
    background-color: white;
    font-size: 1rem;
}
.navbar_search img{
    position: absolute;
    right: 0.625rem;
    height: 1.5625rem;
    width: 1.5625rem;
    cursor: pointer;
}
.navbar_right{
width: 45%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
gap: 1.875rem;
}
.navbar_right > button{
    height: 2rem;
    width: 7.625rem;
    border-radius: 0.125rem;
    border: none;
    cursor: pointer;
    background-color: white;
    color: #2874F0;
    font-size: 1rem;
    font-weight: 700;
}
.navbar_right > button:hover{
    background-color:rgb(190, 181, 181) ;
}
.navbar_more{
    height: 2rem;
    width: 4.375;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.25rem ;
    cursor: pointer;
}
.navbar_more p{
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.navbar_more img{
    height: 0.625rem;
    width: 0.625rem;
}
.navbar_cart{
    height: 2rem;
    width: 4.375rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.navbar_cart p{
    color: aliceblue;
    font-size: 1rem;
    font-weight: 700;
}
@media (max-width:770px){
    .navbar_search img{
        display: none;
    }
    .navbar_search{
        margin-right: 1.875rem;
    }
    .navbar_right{
        gap:0.3125rem;
         padding-right:5px;
    }
    
}
@media (max-width:400px){
   
    .navbar_more,.navbar_cart{
        display: none;
    }
    .navbar_left{
        display: flex;
        justify-content: center;
        padding-left: 5px;

    }

}
@media (max-width:388px){
    .navbar_search{
        display: none;
    }
}
@media (max-width:164px){
    header{
        flex-direction: column;
        height: fit-content;
        
        align-items: center;
        
        padding: 5px;
    }
}
